@import './widgets/card.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.header {
  font-size: 2em;
  background-color: yellow;
  text-align: center;
  padding: 32px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.column .card-container {
  margin-top: 2px;
  vertical-align: middle;
}

@media (max-width: 1630px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }
}

@media (max-width: 1230px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 820px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}