@import './switch.scss';

html {
    box-sizing: border-box;
    height: 200px;
    width: 300px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.switch_pop {
    display: flex;
    flex-direction: row;
    align-items: center;

    .key {
        display: inline-block;
        position: relative;
        left: 10px;
        right: 10px;
    }

    .switch-wrap {
        position: relative;
        left: 30px;
    }
}