@import './tooltip';

#__panel {
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif, '宋体';
  font-size: 16x;
  font-weight: lighter;
  color: black;
  border-radius: 6px;
  background-color: blanchedalmond;
  position: absolute;
  z-index: 800;
  box-sizing: border-box;
}
.__result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 30em;
  min-height: 3em;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  background-color: white;
  z-index: 801;
}

.__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 2em;
  // overflow: hidden;
}

.__word {
  flex: 0 1 content;
  position: relative;
  left: 0;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 1em;
}

.__audio_container {
  flex: 1 0 auto;
  align-content: flex-end;
  display: inline-block;
  height: 1em;
  font-size: 1em;
  padding-left: 1em;
  margin: auto;
}

.__audio_item {
  flex-grow: 50%;
  position: relative;
  display: inline-block;
  height: 1em;

  margin-right: 1em;
  audio.__source {
    visibility: visible;
    position: absolute;
    height: 1em;
    left: 1.6em;
    opacity: 0;
  }
  .__type {
    font-weight: bold;
    font-style: italic;
  }
  .__phonetic_symbol {
    border-bottom: 1px dashed;
    &:hover {
      color: green;
    }
  }
}

.__hint {
  display: inline-block;
  min-height: 1em;
  width: auto;
}

.__body {
  display: flex;
  justify-content: space-between;
  max-width: 30em;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.__item {
  display: inline-block;
  flex: 1;
  min-height: 1.5em;
  justify-content: flex-end;
  span {
    display: inline-block;
    width: auto;
    padding-right: 1em;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    text-align: right;
  }
  .__tooltip {
    margin: 5px;
  }
  &:hover .__hover_show {
    display: block;
    content: 'fdsfjl';
    // position: absolute;
    // top: 100%;
  }
}

.__hover_show {
  all: unset;
  font-size: 10px;
  display: none;
  position: absolute;
  top: 3.5em;
  left: 1em;
  text-overflow: ellipsis;
}
