@import './tooltip';

#__panel {
  font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif, '宋体';
  font-size: 16x;
  font-weight: lighter;
  color: black;
  //   border: 1px #74c9e4;
  border-radius: 6px;
  background-color: blanchedalmond;
  position: absolute;
  z-index: 800;
  box-sizing: border-box;
}
.__result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  background-color: white;
  z-index: 801;
}

.__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 2em;
}

.__word {
  flex: content;
  font-weight: bold;
  font-size: 1.5em;
  //   padding: 0 1em;
  margin: auto;
}

.__audio_container {
  align-self: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  display: inline-block;
  height: 1em;
  font-size: 1em;
  margin: auto;
}

.__audio_item {
  flex-grow: 50%;
  align-self: flex-end;
  position: relative;
  display: inline-block;
  height: 1em;
  audio.__source {
    visibility: visible;
    position: absolute;
    height: 1em;
    left: 1.5em;
    opacity: 0;
  }
  .__type {
    font-weight: bold;
    font-style: italic;
  }
  .__phonetic_symbol {
    // text-decoration: underline;
    border-bottom: 1px dashed;
    &:hover {
      color: green;
    }
  }
}

.__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 10px;
}

.__item {
  display: inline-block;
  height: 1.5em;
  span {
    display: inline-block;
    width: 3em;
    padding-right: 1em;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8em;
    text-align: right;
  }
}
