// todo https://codepen.io/hellomp/pen/ZvrmdN https://freefrontend.com/css-cards/
.card-container {
  font-family: 'Open Sans', sans serif;
  font-size: 100px;
  font-weight: bold;

  width: 400px;
  height: 250px;
  margin: 80px auto;

  border-radius: 10px;

  perspective: 1400px;
}

.card {
  position: relative;

  height: 100%;

  border-radius: 10px;

  width: 100%;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;

  text-align: center;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.front {
  color: #fff;
  background: #2196f3;
}

.back {
  position: absolute;
  top: 0;
  left: 0;

  transform: rotateY(180deg);

  color: #2196f3;
  background: #fff;
}
